body {
	background-color: crimson;
}
* {
	box-sizing: border-box;
}
.Container {
	margin: auto;
}
.block {
	width: 50rem;
	max-width: 95%;

	border-radius: 12px;
	box-shadow: 0 1px 8px rgba(94, 13, 13, 0.25);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	margin: 1rem 0;
}
.name {
	border-radius: 5px;
	color: #3a3a3a;
	font-size: 1rem;
	flex: 1 1;
	margin: 0 1rem;
	color: white;
}
